<section class="container">
  <h1>Register!</h1>

  <%= form_for @user, as: :post, url: users_create_url, html: {id: "user_form"} do |f| %>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li style='color:red'><%= msg %></li>
    <% end %>
    </ul>
    <div class="row">
      <div class="small-4 columns">
        <%= f.text_field :username, id: 'username', placeholder: "Username", class: 'input-text' %>
        <label class="label-helper" for="username">Username</label>
      </div>
    </div>
    <div class="row">
      <div class="small-4 columns">
        <%= f.text_field :email, id: 'email', placeholder: "Email", class: 'input-text' %>
        <label class="label-helper" for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="small-4 columns">
        <%= f.password_field :password, id: 'password', placeholder: "Password", class: 'input-text' %>
        <label class="label-helper" for="password">Password</label>
      </div>
    </div>
    <div class="row">
      <div class="small-4 columns">
        <%= f.password_field :password_confirmation, id: 'password_confirmation', placeholder: "Password Confirmation", class: 'input-text' %>
        <label class="label-helper" for="password_confirmation">Password Confirmation</label>
      </div>
    </div>
    <div class="row">
      <div class="small-4 columns">
        <%= f.submit "Submit!", class: "button tiny [radius round]" %>
        </div>
    </div>
  <% end %>
</section>

