<div class="container">
  <h1>Register!</h1>

  <%= form_for @user, as: :post, url: users_create_url, html: {id: "user_form"} do |f| %>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li style='color:red'><%= msg %></li>
    <% end %>
    </ul>
    <%= f.text_field :username, placeholder: "Username" %><br>
    <%= f.text_field :email, placeholder: "Email" %><br>
    <%= f.password_field :password, placeholder: "Password" %><br>
    <%= f.password_field :password_confirmation, placeholder: "Password Confirmation" %><br>
    <%= f.submit "Submit!" %>
  <% end %>
</div>

