<%= form_for @post, as: :post, html: {id: "post_form"} do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %>
        prohibited this post from being saved:</h2>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="create_new_post">
    <div class="row">
      <div class="small-6 columns">
        <%= f.text_field :post_title, id: 'post_title', placeholder: "Title", class: 'input-text' %>
        <label class="label-helper" for="post_title">Title</label>
      </div>
    </div>
    <div class="row">

        <div class="small-4 columns">
        <%= f.date_field :post_date, id: 'post_date', format: :short, class: 'input-text' %>
        <label class="label-helper" for="post_date">Date</label>

      </div>
    </div>
    <div class="row">
      <div class="small-9 columns">
        <%= f.text_area :post_text, id: 'post_text', placeholder: "Details", class: 'input-text' %>
        <label class="label-helper" for="post_text">Details</label>
      </div>
    </div><br>
    <%= fields_for @tag do |f| %>
      <div class="row">
        <div class="small-9 columns">
          <%= f.text_field :tag_text, placeholder: "Tag(s) Seperated by Comma(s) ',' ", id: 'tag_text', class: 'input-text', value: @tags.map(&:tag_text).join(", ")%>
          <label class="label-helper" for="tag_text">Tag(s) Seperated by Comma(s)</label>
        </div>
      </div>
    <% end %>

    <%= fields_for @image do |f| %>
      <div class="row">
        <div class="small-9 columns">
          <%= f.text_field :image_url, placeholder: 'Image URL', id: 'image_url', class: 'input-text', value: @image.image_url%>
          <label class="label-helper" for="image_url">Image URL</label>
        </div>
      </div>
    <% end %>
    </div><br/>
    <div class="row">
      <div class="small-4 columns">
        <%= f.submit "Submit", class: "button tiny [radius round]" %>
      </div>
    </div>
  </div>
<% end %>
