<%= form_for @post, as: :post, html: {id: "post_form"} do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %>
        prohibited this post from being saved:</h2>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="create_new_post">
    <div class="row">
      <div class="small-6 columns">
        <%= f.text_field :post_title, id: 'post_title', placeholder: "Title", class: 'input-text' %>
        <label class="label-helper" for="post_title">Title</label>
      </div>
    </div>
    <div class="row">

        <div class="small-4 columns">
        <%= f.date_field :post_date, id: 'post_date', format: :short, class: 'input-text' %>
        <label class="label-helper" for="post_date">Date</label>

      </div>
    </div>
    <div class="row">
      <div class="small-9 columns">
        <%= f.text_area :post_text, id: 'post_text', placeholder: "Text", class: 'input-text' %>
        <label class="label-helper" for="post_text">Text</label>
      </div>
    </div>
    <%= fields_for @tag do |f| %>
      <div class="row">
        <div class="small-4 columns">
          <%= f.text_field :tag_text, placeholder: "Tags", class: 'input-text'%>
        </div>
      </div>
    <% end %>
    <br/>
    </div><br/>
    <div class="row">
      <div class="small-4 columns">
        <%= f.submit "Submit", class: "button small [radius round]" %>
      </div>
    </div>
  </div>
<% end %>
