<%= form_for @post, as: :post, html: {id: "post_form"} do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="create_new_post">
    <%= f.text_field :post_title, placeholder: "Title" %><br>
    <%= f.text_area :post_text, placeholder: "Text" %><br>
    <%= f.date_field :post_date %><br>
    
    <%= f.submit %>
  </div>
<% end %>
