<%= form_for @post, as: :post, html: {id: "post_form"} do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %>
        prohibited this post from being saved:</h2>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="create_new_post">
    <div class="row">
      <div class="small-6 columns">
        <%= f.text_field :post_title, placeholder: "Title" %>
      </div>
    </div>
    <div class="row">
<<<<<<< HEAD
      <div class="small-4 columns">
        <%= f.date_field :post_date %>
=======
        <div class="small-4 columns">
        <%= f.date_field :post_date, format: :short %>

>>>>>>> 1cd25ceb6514f942b976deeba1ba0e92bb7e7d0e
      </div>
    </div>
    <div class="row">
      <div class="small-9 columns">
        <%= f.text_area :post_text, placeholder: "Text" %>
      </div>
<<<<<<< HEAD
    </div>
    <%= fields_for @tag do |f| %>
      <div class="row">
        <div class="small-4 columns">
          <%= f.text_field :tag_text, placeholder: "Tags"%>
        </div>
      </div>
    <% end %>
    <br />
    <%= f.submit "Submit", class: "button [radius round]" %>
=======
    </div><br />
    <div class="row">
      <div class="small-4 columns">
        <%= f.submit "Submit", class: "button small [radius round]" %>
      </div>
    </div>

>>>>>>> 1cd25ceb6514f942b976deeba1ba0e92bb7e7d0e
  </div>
<% end %>
