<section class="container">
  <p id="notice"><%= notice %></p>

  <% if @image != nil %>
      <%= image_tag @image.image_url, class: "post_image" %>
  <% end %>

   <h1><u><%= @post.post_title %></u></h1>

   <strong>Tags:</strong>
  <% @tags.each do |tag| %>
    <%=link_to "#{tag.tag_text}", tag %>
  <% end %>
  <br>

  <p><strong>Happened:</strong> <%= @post.post_date %></p>
    
  <%= raw(@post.post_text) %></br>


  <p></p>

  <div class="comment_box">
    <b>Comments:</b>
    <ol class="comments">
      <% @comments.each do |comment| %>
        <li><%=comment.comment_text  %></li>
      <%end %>
    </ol>
  </div>

   <% if current_user != nil %>
   <%= link_to "Create a Comment", {controller: "comments", action: "new"}, class: "button tiny [radius round]" %>
   <% end %>

  </br>

  <%= link_to 'Back', posts_path, class: "button tiny [radius round]" %>
</section>
