<p id="notice"><%= notice %></p>


 <h1><u><%= @post.post_title %></u></h1></br>
 <%= @post.post_text %></br>
 <%= @post.post_date.strftime("%m/%d/%Y") %></br>
 <ol>
     <% @comments.each do |comment| %>
        <li><%=comment.comment_text  %></li>
     <%end %>
</ol>

 <% if current_user != nil %>
 <%= link_to "Create Comment", {controller: "comments", action: "new"}, class: "button small [radius round]" %>
 <% end %>

</br>

<%= link_to 'Back', posts_path, class: "button small [radius round]" %>
