<!DOCTYPE html>
<html>
<head>
  <title>HistoricalWiki</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <% if current_user != nil %>
          <li><a href="users/show"><%= current_user.username.capitalize %></a></li>
          <li><a href="users/logout">Log out</a></li>
        <% else %>
          <li><a href="users/new">Register</a></li>
        <% end %>
      </ul>
    </nav>

<%= yield %>

</body>
</html>
